.search-result-count {
  color: whitesmoke;
  margin-left: 75%;
  font-size: 15px;
}

.shop{
  padding: 0.5em 1em;
  font-weight: bold;   
  text-align:left; 
  font-size: 15px;
  margin: 5px;
  color: #2c2c2f;    
  background-color:rgba(255, 255, 255, 0.8);
  cursor: pointer;
  box-sizing: border-box;
  flex-basis: 400px;
  flex-grow: 100px;
  
}

.shop-photos{
  float: left;
  margin-right: 20px;
  width: 50%
}

section{
  border-bottom: solid 1px #ccc;
  padding-bottom: 16px;
  margin-bottom: 16px;
  font-weight: bold;
}

section:after{
  display: block;
  content: "";
  clear: both;
}

.shop-name{
  font-size: 20px;
  font-weight:bold;
}

.table-font{
  font-family: "Meiryo";
}

.pr_short{
  padding: 0.5em 1em;
  margin: 2em 1em;
  font-weight: bold;
  color: black;
  border: solid 3px;
  border-radius: 10px;
  
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

