.search-result-count {
  color: whitesmoke;
  margin-left: 75%;
  font-size: 15px;
}

.shop{
  padding: 0.5em 1em;   
  text-align:left; 
  font-size: 15px;
  margin: 1em 0;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 3%;
  color: #2c2c2f;    
  background-color:rgba(255, 255, 255, 0.8);
  cursor: pointer;

}

.shop-photos{
  float: left;
  margin-right: 20px;
}

section{
  border-bottom: solid 1px #ccc;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

section:after{
  display: block;
  content: "";
  clear: both;
}

.shop-name{
  font-size: 25px;
  font-weight:bold;
}