/* .NavBar {
  height: 30%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.imgbox {
  width:80%;
  height: 100%;
}

.gurunabi {
  width:10%;
  height: 100%;
}


.icon {
  margin-right: 80%;
  cursor: pointer;
  height: 40%;
}

.login-button{
  cursor: pointer;
  height: 2rem;
  width: 4rem;
  background-color: rgb(204, 196, 196);
  text-align: center;
  border-radius: 8px;

} */