.search-page {
  height: 410px;
  font-family: "Meiryo";
  width: 100%;

}

.top-message{
  color:black;
  font-size: 25px;
  font-weight:bold;
}

.search {
  height:350px;
  width: 80%;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  background-color:rgba(255, 255, 255, 0.8);

}

.except{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight:bold;
  padding: 0.2em;
  margin: 0em 0em;
  /* color: black;
  text-align: left;
  border-left: solid 5px black;
  box-shadow: 0 3px 5px black; */
}

.key{
  font-weight:bold;
  padding: 0.2em;
  margin: 1em 1em;
  /* color: black;
  text-align: left;
  border-left: solid 5px  black;
  box-shadow: 0 3px 5px black; */
}

.submit-button{
  width:170px;
  display: inline-block;
  text-align: center;
  background-color:black;
  border: 2px solid black;
  font-size: 20px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 4px;
  position: relative;
}

.submit-button span {
  position: relative;
  z-index: 1;
}

.submit-button::before,
.submit-button::after {
  content: "";
  display: block;
  background-color: #FFF;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: .2s;
}
.submit-button::before {
  left: 0;
}
.submit-button::after {
  right: 0;
}

.submit-button:hover:before,
.submit-button:hover:after {
  width: 0;
  background-color: #FFF;
}

.submit-button:hover {
  color: #FFF;
}

.word{
  width:30%;
  height:40px;
}

.area{
  width:30%;
  height:46px;
  margin: -0.5px;
}

.budget{
  width:29%;
  height:46px;
  margin: -0.5px;
}

.accordion-summary{
  vertical-align: middle;
  text-align: center;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.acdn-content
{
	width: 200px ;
	height: 200px ;
	background: #D36015 ;
}

.result-count {
  color: black;
  width: 100;
  font-size: 15px;
  display: block;
  text-align: right;
  margin-right: 5%;
}

.tags {
  margin-left: auto;
  margin-right: auto;
}