.back-to-list {
  margin: auto;
  cursor: pointer;
  color: black;
}
.single-shop-info {
  background-color:#eaecee;
  width: 80%;
  max-width: 1200px;
  margin-left : auto ;
  margin-right : auto ;
  padding: 5px;
  padding-top: 20px;
  border-radius: 10px;
}

.map{
  width: 97%;
  height: 500px;
}

.singleShop-name{
  font-size: 30px;
  font-weight:bold;
}

.shop-photo{
  width: 50%;
  height: auto;
}



.category {
  font-weight: bold;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px #eaecee;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 3%;
  max-width: 20px;
  background-color: gray;
  color: black;
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-5px;
  border-left: 5px solid gray;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td{
  text-align: left;
  width: 90%;
  text-align: center;
  background-color:white;
  padding: 10px 0;
}