.back-to-list {
  margin: auto;
  cursor: pointer;
  color: white;
}
.single-shop-info {
  background-color:#383737;
  width: 80%;
  max-width: 900px;
  margin-left : auto ;
  margin-right : auto ;
  padding: 15px;
  padding-top: 20px;
  border-radius: 10px;
  color: white;
}

.map{
  width: 90%;
  height: 500px;
}

.singleShop-name{
  font-size: 30px;
  font-weight:bold;
}

.shop-photo{
  width: 50%;
  height: auto;
  margin: 20px;
}



.category {
  font-weight: bold;
}

table{
  width: 100%;
  border-collapse: collapse;
}

table tr{
  border: solid 2px #252627;
}

table th{
  position: relative;
  text-align: left;
  width: 10%;
  max-width: 20px;
  background-color: rgb(88, 88, 88);
  color:white;
  text-align: center;
  padding: 10px 0;
}



table td{
  text-align: left;
  width: 90%;
  text-align: center;
  background-color:#383737;
  padding: 10px;
}

a:link, a:visited, a:hover, a:active {
  color: white;
}