.back-to-list {
  margin-left: 80%;
  cursor: pointer;
  color: whitesmoke;
}

.single-shop-info {
  background-color:rgba(255, 255, 255, 0.8);
  width: 70%;
  margin-left : auto ;
  margin-right : auto ;
}

.map{
  height: 20rem;
  width: 30rem;
}

.singleShop-name{
  font-size: 40px;
  font-weight:bold;
}

.shop-photo{
  width: 450px;
  height: auto;
}

.table{
  margin-left : auto ;
  margin-right : auto ;
  width: 60%;
  height: auto;
  border:2;

}

.table-td{
  overflow-wrap : break-word;
  font-size: 13px;
  text-align: left;
  font-weight: bold;

}

.td_column{
  width:100px;
  font-weight: bold;
}

.category {
  font-weight: bold;
}